.header__lang-link {
  margin:  0 0 0 18px;
  color: #FFFFFF;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5em;
  line-height: 1.16;
}

@media only screen and (max-width: 500px) {
  .header__lang-link {
    font-size: 1.125em;
    line-height: 1.33;
 }
}


