@import url('../header/header.css');
@import url('../lead/lead.css');
@import url('../intro/intro.css');
@import url('../photo-grid/photo-grid.css');
@import url('../places/places.css');
@import url('../cover/cover.css');
@import url('../footer/footer.css');
@import url('../footer/__links/footer__links.css');
@import url('../header/__menu/header__menu.css');

.page {
  font-family: Inter;
  background-color: #2A2C2F;
  max-width: 1280px;
  margin: 0 auto;

}
.red-border {
  border: 1px solid red;
  box-sizing: border-box;
}
