.cover__subtitle {
  max-width: 358px;
  margin: 32px auto 0;
  font-style: normal;
  font-weight: normal;
  font-size: 1.13em;
  line-height: 1.22;
  text-align: center;
  color: #FFFFFF;
  position: relative;
  z-index: 2;
}
