.cover__subtitle {
  max-width: 360px;
  margin: 32px auto 0;
  font-style: normal;
  font-weight: normal;
  font-size: 1.13em;
  line-height: 1.22;
  color: #FFFFFF;
}
@media only screen and (max-width: 500px) {
  .cover__subtitle {
    max-width: 288px;
    font-size: 0.875em;
    line-height: 1.15;
    margin: 16px auto 0;
 }
}
