@import url('__logo/header__logo.css');
@import url('__lang-link/header__lang-link.css');
@import url('__lang-link/_link_active/header_link_active.css');
@import url('__menu/header__menu.css');
.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 28px 48px 0;

}
@media screen and (max-width: 900px){
  .header {
    margin: 28px 24px 0;
 }
}
@media only screen and (max-width: 500px) {
  .header {
    margin: 16px 16px 0;
 }
}
