.lead__title {
  max-width: 720px;
  margin: 0 auto 32px;
  font-weight: 900;
  font-size: 6em;
  line-height: 1.0416;
  text-align: center;
  color: #FFFFFF;

}
@media only screen and (max-width: 681px) {
  .lead__title {
    font-size: 4.5em;
    line-height: 1.1;
    margin: 0 auto 16px;
    max-width: 550px;
 }
}

@media only screen and (max-width: 500px) {
  .lead__title {
    font-size: 2.5em;
    line-height: 1.1;
    margin: 0 auto 16px;
    max-width: 490px;
 }
}
