.footer__links {
  max-width: 500px;
  list-style: none;
  padding: 0;
  margin: 0;
}
@media only screen and (max-width: 500px) {
  .footer__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 250px;
 }
}
