@import url('__list/intro__list.css');
@import url('__text/intro__text.css');
@import url('__title/intro__title.css');

.intro {
  /* position: relative; */
  max-width: 984px;
  margin: 92px auto 0;
  /* padding: 0 48px; */
  align-content: flex-start;
}
