.place__link {
  width: 100%;
  min-height: 22px;
  font-style: normal;
  font-weight: normal;
  font-size: 1.13em;
  line-height: 1.2;
  color: #FFFFFF;
  text-decoration-line: underline;
  transition: opacity .2s ease;
}

.place__link:hover {
  opacity: 0.8;
}
