.cover__background {
  position: relative;
  width: 100%;
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

@media screen and (max-width: 900px){
  .cover__background {
    margin: 0 auto 88px;
 }
}
@media only screen and (max-width: 500px) {
  .cover__background {
    margin: 0 auto 64px;
 }
}
