.lead__caption {

  width: 100%;
  margin: 0;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.15em;
  font-size: 10px;
  line-height: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 8px;
  padding-bottom: 0.4%;
}
