.place__url-heading {
  width: 100%;
  margin: 0 0 12px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 0.75em;
  line-height: 1.7;
  color: #AAAAAA;
  letter-spacing: 0.2em;
}
@media screen and (max-width: 900px){
  .place__url-heading {
    font-size: 0.75em;
    line-height: 1;
 }
}
